body {
    background-color: black;
    background-image: linear-gradient(0deg, rgb(0, 0, 0), transparent 70%, transparent), url("unblurimage.png");
    background-position: 94% 90%;
    background-repeat: no-repeat ;
    background-attachment: fixed;
    background-size: auto 90%;
    margin: 0;
    font-family: 'Heebo', sans-serif;
    
}

nav {
    
    margin-left: 100px;
    margin-top: 30px;
    max-width: 15%;
    display:flex;
    justify-content: space-between;
    

}
nav > a {
    font-weight: 600;
    text-decoration: none;
    
}

nav > a:visited {
     color: #3B8CCD;
}

h1 {
    color: white;
    margin-left: 100px;
}

.fab fa-github icon {
    color: white 
}

form {
    margin-left: 100px;
}

label {
    color: white;
}

input, textarea {
    border-radius: 5px;
    min-height: 25px;
    margin-top: 10px;;
}