* {
    color: white;
}

body {
    background-color: black;
    background-image: linear-gradient(0deg, rgb(0, 0, 0), transparent 70%, transparent), url("unblurimage.png");
    background-position: 94% 90%;
    background-repeat: no-repeat ;
    background-attachment: fixed;
    background-size: auto 90%;
    margin: 0;
    font-family: 'Heebo', sans-serif;
    
}

#menubars {
    display: none;
}

nav {
    
    margin-left: 100px;
    margin-top: 30px;
    max-width: 30%;
    display:inline-flex;
    justify-content: space-between;

}
nav > a {
    text-decoration: none;
    padding-right: 60px;
}

nav > a:visited {
     color: #3B8CCD;
}


#presentation {
    font-weight: 300;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 100px;
    padding-top: 80px;

}
#presentation > h1 {
    font-weight: 500;
    font-size: 5rem;
    margin-bottom: 1rem;
}

#presentation > p {
    font-size: 20px;
}

.skills {
    padding-top: 30px ;
    padding-left: 100px;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: circle;
    max-width: 70%;
    font-size: 20px;
}

button {
    background-color: black;
    width: fit-content;
    border-radius: 2em;
    border-color: white;
    text-decoration: none;

}

@media only screen and (max-width: 470px) {

    body{
        background-image: none;
    }



    #menu {
        position: absolute;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        z-index: 3;
        padding-bottom: 30px;
        padding-right: 5px;
        width: 75%;
        background-color: black;
        transform: translate(-195px, 0);
    }

    #menubars {
        display: initial;
    }

    nav {
        display: inline-flex;
        flex-direction: column;
        margin: auto;
        max-width: auto;
        padding-top: 60px;
        height: 200px;

    }


    #presentation {
        position: relative;
        z-index: 1;
        font-size: initial;
    }

    .skills {
        font-size: initial;

    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: circle;

}


}