body {
    background-color: black;
    font-family: 'Heebo', sans-serif;
    color: white;
}

#menubars {
    display: none;
}

nav {
    
    margin-left: 100px;
    margin-top: 30px;
    max-width: 30%;
    display:inline-flex;
    justify-content: space-between;

}
nav > a {
    font-weight: 600;
    text-decoration: none;
    padding-right: 60px;
}

nav > a:visited {
     color: #3B8CCD;
}

h1 {
    text-align: center;
}

.languages {
    font-size: 18px;
}

#allprojects {
    padding: 130px;
    display: grid;
    grid-template-columns: 40rem 40rem;
    grid-template-rows: auto;
    grid-gap: 5rem 1rem;
}

.project > img {
    max-width: 80%;
    box-sizing: border-box;
    border-radius: 25px;
    border: solid white;
}

h4 {
    font-size: 24px;
}

p {
    max-width: 80%;
}

a{
    color: white;
    text-decoration: underline;
}


@media only screen and (max-width: 470px) {

    body{
        background-image: none;
    }



    #menu {
        position: absolute;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        z-index: 3;
        padding-bottom: 30px;
        padding-right: 5px;
        width: 75%;
        background-color: black;
        transform: translate(-195px, 0);
    }

    #menubars {
        display: initial;
    }

    nav {
        display: inline-flex;
        flex-direction: column;
        margin: auto;
        max-width: auto;
        padding-top: 60px;
        height: 200px;

    }

    #allprojects {
        padding: 5vw;
        display: grid;
        grid-template-columns: 60rem;
        grid-template-rows: auto;
        grid-gap: 5rem 1rem;
    }

    .project > img {
        width: 90vw;
    }

    p {
        max-width: 90vw;
    }

}